<main>
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	
	<section id="blog" class="light-bg">
		<div class="container inner-top-sm inner-bottom">
			
			<div class="row inner-bottom-xs">
				
				
			</div><!-- /.row -->
			
			
        	<div class="container">   
        	<ul class="nav nav-tabs">
              	<li class="active"><a  href="/home/event/25" data-toggle="tab">25일</a></li>
              
              	<li><a href="home/event/26" data-toggle="tab">26일</a></li>
           
        	</ul>
			 
			 <!--세부 내용--->
			 
			 
			 
			 
			 <section id="blog-post" class="light-bg">
				<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
					<div class="row">
						<div class="col-md-9 center-block">
							<div class="sidemeta">
								
								<div class="post format-gallery">
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day">25</span>
											<span class="month">May</span>
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<div class="format-wrapper">
										<a href="#"><i class="icon-picture"></i></a>
									</div><!-- /.format-wrapper -->
									
									<div class="post-content">
										
										<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">
											
											<div class="item">
												<figure>
													<img src="https://i.ytimg.com/vi/oi0ilt4iGSs/maxresdefault.jpg" alt="">
												</figure>
											</div><!-- /.item -->
											
											
											
										</div><!-- /.owl-carousel -->
										
										<p class="author"><a href="#" title="Post author" data-rel="tooltip" data-placement="left">Amber Jones</a></p> 
										
										<h1 class="post-title">Learn how to successfully design brand identities</h1>
										
										<ul class="meta">
											<li class="categories"><a href="#">Identity</a>, <a href="#">Graphic Design</a></li>
											<li class="comments"><a href="#">24</a></li>
											<li class="likes"><a href="#">73</a></li>
										</ul><!-- /.meta -->
										
										<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
										
										<h2>Create a unique logotype</h2>
										
										<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibus. Eumenis et consent accullignis dentibea autem inisita posae volor.</p>
										
										<p>Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
										
										<figure>
											<img src="https://c1.staticflickr.com/4/3889/15216184902_2d60bbfe3f.jpg" alt="">
											<figcaption>Eumenis et consent accullignis inisita posae volor.</figcaption>
										</figure>
										
										<h2>Simplicity and production values</h2>
										
										<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
										
										<figure>
											<div class="row">
												
												<div class="col-sm-6 col-sm-push-6">
													<img src="http://www.spam-uk.com/img/recipe/SPAM_Rancheros_Breakfast.jpg" alt="">
												</div><!-- /.col -->
												
												<div class="col-sm-6 col-sm-pull-6">
													<figcaption>
														<h4>Successful brand identities</h4>
														<p>Magnis modipsae que lib voloratati andigen daepeditem quiate re porem inisita aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor ut remped modis volor accabora explabo.</p>
													</figcaption>
												</div><!-- /.col -->
												
											</div><!-- /.row -->
										</figure>
										
									</div><!-- /.post-content -->
									
								</div><!-- /.post -->
								
								
								
								
								<div id="comments">
									<h2>5 Comments</h2>
									<ol class="commentlist">
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="assets/images/art/human02.jpg" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Jennifer Fox</a></h3>
													<div class="meta">
														<span class="date">about 5 hours ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author -->
												
												<div class="message">
													<p>Magnis modipsae que lib voloratati andigen daepeditem ut repro labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">24</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
										</li><!-- /.comment -->
										
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="assets/images/art/human03.jpg" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Chris Cavill</a></h3>
													<div class="meta">
														<span class="date">about 4 hours ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author-->
												
												<div class="message">
													<p>Conecus iure posaemne voloris remped modis aut accabora incim resto explaboris eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">18</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
											
											<ul class="children">
												<li class="comment">
													<div class="avatar icon-overlay icn-link">
														<a href="#"><img src="assets/images/art/human01.jpg" alt=""></a>
													</div><!-- /.avatar -->
													
													<div class="commentbody">
														
														<div class="author">
															<h3><a href="#">Amber Jones</a></h3>
															<div class="meta">
																<span class="date">about 2 hours ago</span>
															</div><!-- /.meta -->
														</div><!-- /.author -->
														
														<div class="message">
															<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Magnis modipsae que lib volorati andigen daepeditem ut repro labor. Menis et consent accullignis dentibea autem inisita eictemperum quiae posae volor.</p>
															<ul class="meta">
																<li class="reply"><a href="#">Reply</a></li>
																<li class="votes">20</li>
																<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
																<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
															</ul><!-- /.meta -->
														</div><!-- /.message -->
														
													</div><!-- /.commentbody -->
													
													<ul class="children">
														<li class="comment">
															<div class="avatar icon-overlay icn-link">
																<a href="#"><img src="assets/images/art/human04.jpg" alt=""></a>
															</div><!-- /.avatar -->
															
															<div class="commentbody">
																
																<div class="author">
																	<h3><a href="#">Toby Evans</a></h3>
																	<div class="meta">
																		<span class="date">about 1 hour ago</span>
																	</div><!-- /.meta -->
																</div><!-- /.author -->
																
																<div class="message">
																	<p>Magnis modipsae que lib voloratati andigen daep editem ut repro labor. Laceaque quiae sitiorem rest non restibsae es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo que voloratati andigen emperum quiae sitiorem.</p>
																	<ul class="meta">
																		<li class="reply"><a href="#">Reply</a></li>
																		<li class="votes">9</li>
																		<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
																		<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
																	</ul><!-- /.meta -->
																</div><!-- /.message -->
																
															</div><!-- /.commentbody -->
														</li><!-- /.comment -->
													</ul><!-- /.children -->
												</li><!-- /.comment -->
											</ul><!-- /.children -->
										</li><!-- /.comment -->
										
										<li class="comment">
											<div class="avatar icon-overlay icn-link">
												<a href="#"><img src="assets/images/art/human05.jpg" alt=""></a>
											</div><!-- /.avatar -->
											
											<div class="commentbody">
												
												<div class="author">
													<h3><a href="#">Sophie Adams</a></h3>
													<div class="meta">
														<span class="date">about 20 minutes ago</span>
													</div><!-- /.meta -->
												</div><!-- /.author -->
												
												<div class="message">
													<p>Conecus iure posae volor remped modisatae aut accabora incim resto explaboris eictemperum quiae sitiorem. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis. Doloreiur qui commolu ptatemp dolupta oreprerum aut tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo voloratati andigen emperum quiae sitiorem rest non restibsae.</p>
													<ul class="meta">
														<li class="reply"><a href="#">Reply</a></li>
														<li class="votes">3</li>
														<li class="upvote"><a href="#"><i class="icon-thumbs-up"></i></a></li>
														<li class="downvote"><a href="#"><i class="icon-thumbs-down"></i></a></li>
													</ul><!-- /.meta -->
												</div><!-- /.message -->
												
											</div><!-- /.commentbody -->
										</li><!-- /.comment -->
									</ol><!-- /.commentlist -->
								</div><!-- /#comments -->
								
								<div class="comment-form-wrapper">
									<h2>Leave a Comment</h2>
									
									<form id="commentform" class="forms" action="" method="post">
										
										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="name" class="form-control" placeholder="Name (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="email" name="email" class="form-control" placeholder="Email (Required)">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="website" class="form-control" placeholder="Website">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-12">
												<textarea name="message" class="form-control" placeholder="Enter your comment ..."></textarea>
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<button type="submit" class="btn btn-default btn-submit">Submit comment</button>
										
									</form>
									
									<div id="response"></div>
								</div><!-- /.comment-form-wrapper -->
							
							</div><!-- /.sidemeta -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			</div><!-- /.grid-blog -->
					
					<center>
					<ul class="pagination">
						<li><a href="/id#">이전 글</a></li>
						<li><a href="/home/event">목록으로</a></li>
						<li><a href="/id#">다음 글</a></li>
					</ul><!-- /.pagination --> 
					</center>
					
					
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
	
</main>