<main>
	
	<!-- ============================================================= SECTION – BLOG ============================================================= -->
	
	<section id="blog" class="light-bg">
		<div class="container inner-top-sm inner-bottom">

			 
			 <!--세부 내용--->

			 <section id="blog-post" class="light-bg">
				<div class="container inner-top-sm inner-bottom classic-blog no-sidebar">
					<div class="row">
						<div class="col-md-9 center-block">
							<div class="sidemeta">
								
								<div class="post format-gallery">
									
									<div class="date-wrapper">
										<div class="date">
											<span class="day"><%=@one_event.day%></span>
											<span class="month">May</span>
										</div><!-- /.date -->
									</div><!-- /.date-wrapper -->
									
									<!-- /.format-wrapper -->
									
									<div class="post-content">
										
										<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav post-media">
											
											<div class="item">
												<figure>
													<img src="http://www.tourandong.com/_cs_file_/board/7B0E9ABD-41A0-4D77-B2DA-B8BCD3F5F01F/%EC%96%B4%EB%A6%B0%EC%9D%B4%EB%82%A0%ED%96%89%EC%82%AC%EC%82%AC%EC%A7%84.JPG" alt="">
												</figure>
											</div><!-- /.item -->
											
											
											
										</div><!-- /.owl-carousel -->
										
										<h1 class="post-title"><%=@one_event.host%></h1>
										<h2><%=@one_event.name%></h2>
										<ul class="meta">
											<li class="categories">부스위치 : <%=@one_event.location%></li>
											<li class="comment"><a href="/home/event">목록으로</a></li>
										</ul><!-- /.meta -->
										
										
										
									</div><!-- /.post-content -->
									
								</div><!-- /.post -->

							
							</div><!-- /.sidemeta -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – BLOG : END ============================================================= -->
	
</main>