<script>/*! modernizr 3.0.0-alpha.4 (Custom Build) | MIT *
	 * http://modernizr.com/download/#-csstransitions !*/
!function(aa,T,K){function O(a,b){return typeof a===b}function R(){var h,p,f,m,g,d,c;for(var b in M){if(h=[],p=M[b],p.name&&(h.push(p.name.toLowerCase()),p.options&&p.options.aliases&&p.options.aliases.length)){for(f=0;f<p.options.aliases.length;f++){h.push(p.options.aliases[f].toLowerCase())}}for(m=O(p.fn,"function")?p.fn():p.fn,g=0;g<h.length;g++){d=h[g],c=d.split("."),1===c.length?q[c[0]]=m:(!q[c[0]]||q[c[0]] instanceof Boolean||(q[c[0]]=new Boolean(q[c[0]])),q[c[0]][c[1]]=m),Y.push((m?"":"no-")+c.join("-"))}}}function L(c){var d=af.className,a=q._config.classPrefix||"";if(j&&(d=d.baseVal),q._config.enableJSClass){var b=new RegExp("(^|\\s)"+a+"no-js(\\s|$)");d=d.replace(b,"$1"+a+"js$2")}q._config.enableClasses&&(d+=" "+a+c.join(" "+a),j?af.className.baseVal=d:af.className=d)}function W(a,b){return function(){return a.apply(b,arguments)}}function ae(c,f,a){var d;for(var b in c){if(c[b] in f){return a===!1?c[b]:(d=f[c[b]],O(d,"function")?W(d,a||f):d)}}return !1}function V(a,b){return !!~(""+a).indexOf(b)}function Z(){return"function"!=typeof T.createElement?T.createElement(arguments[0]):j?T.createElementNS.call(T,"http://www.w3.org/2000/svg",arguments[0]):T.createElement.apply(T,arguments)}function I(a){return a.replace(/([a-z])-([a-z])/g,function(c,d,b){return d+b.toUpperCase()}).replace(/^-/,"")}function ab(a){return a.replace(/([A-Z])/g,function(b,c){return"-"+c.toLowerCase()}).replace(/^ms-/,"-ms-")}function ac(){var a=T.body;return a||(a=Z(j?"svg":"body"),a.fake=!0),a}function Q(m,x,b,f){var y,h,v,g,w="modernizr",n=Z("div"),c=ac();if(parseInt(b,10)){for(;b--;){v=Z("div"),v.id=f?f[b]:w+(b+1),n.appendChild(v)}}return y=Z("style"),y.type="text/css",y.id="s"+w,(c.fake?c:n).appendChild(y),c.appendChild(n),y.styleSheet?y.styleSheet.cssText=m:y.appendChild(T.createTextNode(m)),n.id=w,c.fake&&(c.style.background="",c.style.overflow="hidden",g=af.style.overflow,af.style.overflow="hidden",af.appendChild(c)),h=x(n,m),c.fake?(c.parentNode.removeChild(c),af.style.overflow=g,af.offsetHeight):n.parentNode.removeChild(n),!!h}function U(d,b){var c=d.length;if("CSS" in aa&&"supports" in aa.CSS){for(;c--;){if(aa.CSS.supports(ab(d[c]),b)){return !0}}return !1}if("CSSSupportsRule" in aa){for(var a=[];c--;){a.push("("+ab(d[c])+":"+b+")")}return a=a.join(" or "),Q("@supports ("+a+") { #modernizr { position: absolute; } }",function(f){return"absolute"==getComputedStyle(f,null).position})}return K}function X(u,l,f,N){function m(){w&&(delete A.style,delete A.modElem)}if(N=O(N,"undefined")?!1:N,!O(f,"undefined")){var C=U(u,f);if(!O(C,"undefined")){return C}}for(var w,x,b,r,E,z=["modernizr","tspan"];!A.style;){w=!0,A.modElem=Z(z.shift()),A.style=A.modElem.style}for(b=u.length,x=0;b>x;x++){if(r=u[x],E=A.style[r],V(r,"-")&&(r=I(r)),A.style[r]!==K){if(N||O(f,"undefined")){return m(),"pfx"==l?r:!0}try{A.style[r]=f}catch(t){}if(A.style[r]!=E){return m(),"pfx"==l?r:!0}}}return m(),!1}function H(f,h,c,g,d){var b=f.charAt(0).toUpperCase()+f.slice(1),a=(f+" "+ad.join(b+" ")+b).split(" ");return O(h,"string")||O(h,"undefined")?X(a,h,g,d):(a=(f+" "+J.join(b+" ")+b).split(" "),ae(a,h,c))}function D(b,c,a){return H(b,K,K,c,a)}var Y=[],M=[],G={_version:"3.0.0-alpha.4",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(b,c){var a=this;setTimeout(function(){c(a[b])},0)},addTest:function(b,c,a){M.push({name:b,fn:c,options:a})},addAsyncTest:function(a){M.push({name:null,fn:a})}},q=function(){};q.prototype=G,q=new q;var af=T.documentElement,j="svg"===af.nodeName.toLowerCase(),F="Moz O ms Webkit",ad=G._config.usePrefixes?F.split(" "):[];G._cssomPrefixes=ad;var J=G._config.usePrefixes?F.toLowerCase().split(" "):[];G._domPrefixes=J;var B={elem:Z("modernizr")};q._q.push(function(){delete B.elem});var A={style:B.elem.style};q._q.unshift(function(){delete A.style}),G.testAllProps=H,G.testAllProps=D,q.addTest("csstransitions",D("transition","all",!0)),R(),L(Y),delete G.addTest,delete G.addAsyncTest;for(var k=0;k<q._q.length;k++){q._q[k]()}aa.Modernizr=q}(window,document);</script><style>.btn-modal{position:relative;font-size:3vh;line-height:18vh;box-shadow:0 0 0 rgba(0,0,0,0)!important}.btn-modal:hover{background-color:#337ab7!important;-webkit-transform:translateY(-5px);-ms-transform:translateY(-5px);transform:translateY(-5px);box-shadow:10px 20px 20px rgba(0,0,0,.22)!important}.btn-modal:focus{background-color:#337ab7!important;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);box-shadow:2px 4px 3px rgba(0,0,0,.3)!important}.btn-modal span{position:relative;z-index:1;letter-spacing:.5vw}.btn-modal span.bg-type{position:absolute;top:48%;left:52%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);z-index:0;font-size:8vh;color:#FFF;letter-spacing:1vw}</style><script>(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-35598290-4","fuviz.com");ga("send","pageview");
</script>
<main>
    <div class="container">
        <h2 style="text-align:center">후원해 주신 분들</h2>
    
    <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav ">
		<div class="item">
			<figure>
			    <%=image_tag "yeonkyung2.jpg",style:"width:500px"%>
			</figure>
		</div><!-- /.item -->
		<div class="item">
			<figure>
				<%=image_tag "gongbok.jpg", style:"width:500px"%>
			</figure>
		</div>
		<div class="item">
			<figure>
				<%=image_tag "sosin2.jpg",style:"width:500px"%>
			</figure>
		</div>
	</div>
	</div>
    <section id="layout-selection" >
        <div class="container inner-md">
            <!--<h3 class="sidelines text-center">-->
            <!--    <span>Select layout style</span>-->
            <!--</h3>-->
            <div class="row">
                <div class="col-lg-6 col-sm-12 inner-top-xs">
                    <a class="btn btn-block btn-modal btn-mobile btn-color" href="/home/booth" style="height=80px width=50px"><span class="btn-char">부스</span><span class="bg-type"  style="width: inherit;font-size: 6rem;"></span></a>
                </div>
                <div class="col-lg-6 col-sm-12 inner-top-xs">
                    <a class="btn btn-block btn-modal btn-mobile btn-color" href="/home/performance" style="height=80px width=50px"><span class="btn-char">공연</span><span class="bg-type"  style="width: inherit;font-size: 6rem;"></span></a>
                </div>
                <div class="col-lg-6 col-sm-12 inner-top-xs">
                    <a class="btn btn-block btn-modal btn-mobile btn-color" href="/home/event" style="height=80px width:=50px"><span class="btn-char">행사</span><span class="bg-type" style="width: inherit; font-size: 6rem;"></span></a>
                </div>
                <div class="col-lg-6 col-sm-12 inner-top-xs">
                    <a class="btn btn-block btn-modal btn-mobile btn-color" href="/home/ourevent" style="height=80px width=50px"><span class="btn-char">만든이들</span></span><span class="bg-type" style="width: inherit; font-size: 6rem;"></span></a>
                </div>
            </div>
            <br>
            </br>
            </br>
        </div>
    </section>
</main>