		
		<main>
			
			<!-- ============================================================= SECTION – HERO ============================================================= -->
		
			<section id="hero" class="" style="background-color: #0067b3;">
				<div class="container inner">
					<div class="row">
						<div class="col-sm-10">
							<header>
								<h1 style="color : white">멋쟁이 사자처럼 5기 <br></h1>
							</header>
						</div><!-- /.col -->
					</div><!-- ./row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HERO : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
			
		
			<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
			
			
			
			
			
			<!-- ============================================================= SECTION – HOW WE WORK ============================================================= -->
			
			<section id="how-we-work">
					<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-10 center-block text-center">
							<header>
								<h1>영업팀</h1>
								<p></p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/16298609_10208408984886990_5655061743087526091_n.jpg?oh=517e5f78b3e772a40df95ecd00757d56&oe=59B5543C" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										김해랑
										<span>영업팀장</span>
									</h2>
									
									<blockquote>살기 싫다</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/15037292_1789964191286560_8935492944612721674_n.jpg?oh=97acf5d620756ef661cdf990ff0e621a&oe=59742D71" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										유예진
										<span>팀원 1</span>
									</h2>
									
									<blockquote>케이크 먹고 싶다!</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18446684_802415056574120_5229090004296187301_n.jpg?oh=b9a844c04bfdf7baebf3e9dbf3eac0cc&oe=59BD5837" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										지혜림
										<span>팀원 2</span>
									</h2>
									
									<blockquote>행복하다</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row text-center">
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/p240x240/11082533_1581909288748191_8113285097894304330_n.jpg?oh=d086fb981838e383a39d82909495dbd8&oe=59BEF49B" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										최지만
										<span>팀원 3</span>
									</h2>
									
									<blockquote>복학하고 싶다</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					
						
					
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – HOW WE WORK : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – TEAM ============================================================= -->
			
			<section id="team" class="light-bg">
				<div class="container inner-top inner-bottom-sm">
					
					<div class="row">
						<div class="col-md-8 col-sm-10 center-block text-center">
							<header>
								<h1>개발팀</h1>
								<p></p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
					
					<div class="row inner-top-sm text-center">
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/13612143_1189038991128244_8572376200818641103_n.jpg?oh=8872bb6e082460a083ef4377042a47f3&oe=59790293" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										김하림
										<span>연대 멋사 회장님</span>
									</h2>
									
									<blockquote>여자친구 만들고 시포요 흑흑 ..<br> 소개팅 다받아용 <br> 010-4915-7072</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18268564_631081440398978_6898721333130241289_n.jpg?oh=82df3f70475f28b00ca59bcc90fcc609&oe=59BEDEC8" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										이창민
										<span></span>
									</h2>
									
									<blockquote>야동 좋아해용 <br> 추천 다받아용</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/13590483_934663753322968_8496798614035088292_n.jpg?oh=a0673000d6f5d4c0491f66ea9e053dbe&oe=597D6532" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										김수빈
										<span></span>
									</h2>
									
									<blockquote>우리 사랑 영원히.... <br>변치 말자</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
					<div class="row text-center">
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/1888641_749230028459194_6843110880286807352_n.jpg?oh=48a98cbe2775a77d5d4d4e957a3d018b&oe=597D0022" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										김재인 
										<span></span>
									</h2>
									
									<blockquote>나는 Shy Boy..<br>
									무대 뒤.. 난 이 떨림이.. 좋ㄷr.. ☆ </blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-1/c0.149.900.900/17880590_1459931007390954_2209356248044115047_o.jpg?oh=81565883f83a2b3a06ae27a145651eb9&oe=59BFA219" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										김연진 
										<span></span>
									</h2>
									
									<blockquote>찰칵.. <br>거울 속 나의 눈동자에 cheers~★</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
						<div class="col-sm-4 inner-bottom-sm inner-left inner-right">
							<figure class="member">
								
								<div class="icon-overlay icn-link">
									<a href="#"><img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/14203312_1631662657125309_1555714198858135235_n.jpg?oh=4115b504610b51004410d729b6a84a52&oe=59B75B3C" class="img-circle"></a>
								</div><!-- /.icon-overlay -->
								
								<figcaption>
								
									<h2>
										정원준
										<span></span>
									</h2>
									
									<blockquote>오늘 밤 주인공은 나야나</blockquote>
									
									<ul class="social">
										<li><a href="#"><i class="icon-s-facebook"></i></a></li>
										<li><a href="#"><i class="icon-s-gplus"></i></a></li>
										<li><a href="#"><i class="icon-s-twitter"></i></a></li>
									</ul><!-- /.social -->
									
								</figcaption>
								
							</figure>
						</div><!-- /.col -->
						
					</div><!-- /.row -->
					
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – TEAM : END ============================================================= -->
			
			
			
			
			<!-- ============================================================= SECTION – TESTIMONIALS ============================================================= -->
			
			
			
			<!-- ============================================================= SECTION – TESTIMONIALS : END ============================================================= -->
			
			
			<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
			
			<section id="get-in-touch" class="" style="background-color : #0067b3">
				<div class="container inner-sm">
					<div class="row">
						<div class="col-sm-10 center-block text-center">
							<h1 class="single-block" style="color : white">Facebook<a href="https://m.facebook.com/yonsei.likelion/" class="btn btn-large">Get in touch</a></h1>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
			
			<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
			
		</main>
		