<main>
<main>
<section id="circle-tabs" class="light-bg">
	<div class="container inner">
		
		<div class="row">
			<div class="col-xs-12 inner-top" style ="padding-top: 0px;">
				<div class="tabs tabs-services tabs-circle-top tab-container">
					
					<ul class="etabs text-center">
						<li class="tab"><a href="#tab-1"><div></div>25</a></li>
						<li class="tab"><a href="#tab-2"><div><i class="icon-flow-tree"></i></div>26</a></li>
						<li class="tab"><a href="#tab-3"><div><i class="icon-beaker"></i></div>Map</a></li>
					</ul><!-- /.etabs -->
					
					<div class="panel-container">
						
						<div class="tab-content" id="tab-1">
							<div class="row">
								<p></p>
									<div class="container col-xs-offset-3 col-xs-6">
		  								<table class="table table-bordered">
										    <thead>
			    							<tr>
										    	<th>Time</th>
										    	<th>Team</th>
										    </tr>
										    </thead>
										    
							        		<tbody>
									        <tr>
									            <td>7:00~7:30</td>
									            <td><a href="/home/example">멋쟁이사자처럼 클릭!!!</a></td>
									        </tr>
									        <tr>
									            <td></td>
									            <td></td>
									        </tr>
											<tr>
									            <td></td>
									            <td></td>
									        </tr>
									        </tbody>
							            </table>
									</div>
								
							</div><!-- /.row -->
						</div><!-- /.tab-content -->
						
						<div class="tab-content" id="tab-2">
							<div class="row">
								  <table class="table table-bordered">
							    	<tbody>
							        <tr>
							            <td>Time</td>
							            <td>Team</td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							       	<tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        <tr>
							            <td></td>
							            <td></td>
							        </tr>
							        </tbody>
					            </table>		    
							</div><!-- /.row -->
						</div><!-- /.tab-content -->
						
						<div class="tab-content" id="tab-3">
							<div class="row">
								
								<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
									<figure><img src="assets/images/art/product06.jpg" alt=""></figure>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
									<h3>Design</h3>
									<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
								</div><!-- /.col -->
								
								<div class="col-md-3 col-sm-6 inner-top-xs">
									<h3>User interface</h3>
									<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.tab-content -->
					</div><!-- /.panel-container -->
					 
				</div><!-- /.tabs -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
</main>
