<div class="container">	
    <ul class="nav nav-tabs">
		<li class="active"><a  href="#1" data-toggle="tab">25일</a></li>
		
		<li><a href="#2" data-toggle="tab">26일</a></li>
		
		<li><a href="#3" data-toggle="tab">지도</a></li>
	</ul>

	<div class="tab-content ">
		<div class="tab-pane active" id="1">
		    <table class="table table-bordered">
		        <tr>
		            <td>Time</td>
		            <td>Team</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		       	<tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
            </table>
		</div>
		
		<div class="tab-pane" id="2">
		    <table class="table table-bordered">
		        <tr>
		            <td>Time</td>
		            <td>Team</td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		       	<tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
		        <tr>
		            <td></td>
		            <td></td>
		        </tr>
            </table>		    
		</div>
		
        <div class="tab-pane" id="3"><h3>add clearfix to tab-content (see the css)</h3></div>
	</div>
</div>